.completed-projects-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
}
.completed-projects-list {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}
@media(max-width:700px){
  .completed-projects-container {
    margin-top: 190px;

  }
  .completed-projects-list {
    height:calc(100vh - 292px)
  }



}